<footer class="footer">

  <section id="contact">
  <h2>Contact Us</h2>

  <div class="footer-content">

    <div class="contact-info">
      <p>Email: info&#64;exploreworld.com</p>
      <p>Phone: +355 068 240 6662</p>
      <p>Open: Mon - Sat (09:00 - 20:00)</p>
      <p>Location: {{ officeAddress }}</p>
    </div>

    <div class="map">
      <iframe
        [src]="mapUrl"
        width="350"
        height="250"
        style="border:0;"
        loading="lazy">
      </iframe>
    </div>

  </div>

  <p class="copyright">
    © 2026 ExploreWorld. All Rights Reserved.
  </p>
  </section>
</footer>

